.navbar{
    height: 70px;
    width: 100%;
    display: flex;
}
.navbar-list{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    align-items: center;
}
.navbar-list--item{
    padding: 10px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color:white;
}

.navbar-list--item:hover{
    background-color: blue;
    border-radius: 10px;
}

.search-btn{
    border: 2px solid white;
    border-radius: 10px;
}